<%= form_for(@press) do |f| %>
  <% if @press.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@press.errors.count, "error") %> prohibited this press from being saved:</h2>

      <ul>
      <% @press.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :publication_name %><br />
    <%= f.text_field :publication_name %>
  </div>
  <div class="field">
    <%= f.label :publication_url %><br />
    <%= f.text_field :publication_url %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :start_page %><br />
    <%= f.number_field :start_page %>
  </div>
  <div class="field">
    <%= f.label :end_page %><br />
    <%= f.number_field :end_page %>
  </div>
  <div class="field">
    <%= f.label :quote %><br />
    <%= f.text_area :quote %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
