<h1>Welcome to Studio Recreation</h1>
<%= link_to "Projects", projects_path %>
<br />
<%= link_to "Clients", clients_path %>
<br />
<%= link_to "Rooms", rooms_path %>
<br />
<%= link_to "Addresses", addresses_path %>
<br />
<%= link_to "Blogs", blogs_path %>